@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom tailwind utility classes */
@layer utilities {
    /* Hide scrollbar - Chrome, Safari, Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar - IE, Edge, Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Custom scrollbar style class */
    .customScrollbarStyle
    ::-webkit-scrollbar {
        width: 10px;
    }::-webkit-scrollbar-track {
        background: theme('colors.alto.100');                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    }::-webkit-scrollbar-thumb {
        background: theme('colors.boulder.800');
        border-radius: 10px;
    }::-webkit-scrollbar-thumb:hover {
        background: theme('colors.boulder.600');
    }
}

/* Custom  */
@layer components {
    .dash-button {
        box-sizing: content-box;
        background: theme('colors.alto.100');
        border: solid 5px;
        border-color: theme('colors.alto.DEFAULT');
        border-radius: 14px;
        font-family: theme('fontFamily.league-gothic');
        font-size: xx-large;
    }

    .dash-button-hover {
        box-sizing: content-box;
        background: theme('colors.alto.300');
        border: solid 5px;
        border-color: theme('colors.alto.400');
        border-radius: 14px;
        font-family: theme('fontFamily.league-gothic');
        font-size: xx-large;
    }
}
